.todos-list {
  border: 1px solid white;
  border-bottom: 0;

  .add-todo-container {
    display: flex;
    border-bottom: 1px solid white;
  }

  .toggle-todos {
    display: flex;
    align-items: center;
    margin-left: 7px;
    width: 37px;
    
    .checkbox {
      appearance: none;
      border-radius: 50%;
      border: 1px solid white;
      height: 30px;
      width: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  
      &:focus {
        outline: none;
      }
  
      &:checked {
        background-image: url("../../images/tick.png");
      }
    }
  }

  .add-todo {
    width: 90%;
    height: 50px;
    font-size: 20px;
    border: 0;
    background-color: rgb(30, 160, 250);
    color: white;
    padding-left: 10px;

    &::placeholder {
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}